operaciones aritmeticas (+-*/%)

In [1]:
8+8

16

sumar variables

In [2]:
a=8
b=3.5
a+b

11.5

operar una variable y un numero

In [3]:
a=8
a+10

18

la resta funciona exactamente igual podemos; operar con numeros, con variables y tambien con numeros y variables

In [4]:
22-11

11

operar con variables

In [7]:
m=50    
n=30
m-n

20

con nujmeros y variables

In [8]:
m=50
60-m

10

                                           MULTIPLICACIÃ³N * PODEMOS OPERA CON NUMEROS, NUMEROS Y VARIABLES

In [9]:
20*4

80

In [10]:
NUM1=6
NUM2=3
NUM1*NUM2

18

In [11]:
NUM=5
NUM*4

20

POTENCIACION ** PRIMER ELEMENTO ES LA BASE Y EL SEGUNDO ELEMENTO ES EL EXPONENTE

In [12]:
5**2

25

In [13]:
b=2
e=3
b**e #2**3

8

In [14]:
numero=3 #3 es la base, 2 es el exponente
numero**2

9

Division

In [15]:
 10/3 # CON 1 /SLASH EL RESULTADO ES DECIMAL VALOR TIPO (FLOAT)

3.3333333333333335

In [16]:
10//3 #CON 2// SLASH SE REDONDEA LA RESPUESTA SERIA UN ENTERO (INT)

3

In [17]:
20/0 #MUY IMPIRTANTE RECORDAR QUE SI QUEREMNOS DIVIDIR POR 0 NOS VA ADAR ERROR

ZeroDivisionError: division by zero

In [19]:
dividendo=21
divisor=7

In [20]:
dividendo/divisor

3.0

In [21]:
dividendo/4

5.25

operador modulo o resto (module)

In [22]:
7%2 #7/2 y el resto igual 1

1

In [28]:
#NOS PERMITE DISTINGUIR NUMEROS PARES CON RESTO 0
print(6%2)
print(12%2)
print(448%2)

0
0
0

In [29]:
#numeros impares con resto 1
print(9%2)
print(15%2)
print(327%2)

1
1
1

operaciones relaciones

In [31]:
'mano'=='mano'

True

In [33]:
4==2+2

True

In [34]:
4=='4'

False

In [36]:
print(type(4))
print(type('4'))

<class 'int'>
<class 'str'>

In [37]:
4!='4'#es verdadero por que los dos valores no son iguales

True

In [38]:
9!= 4+5

False

In [39]:
12>3

True

In [40]:
num1=12
num2=16

In [43]:
num1<num2

True

operadores de asignacion se utilizan como su nombre lo indica para asignar valor a las variables

In [44]:
x=10

In [46]:
x+=5 #nos permite modificar el valor de una variable al momento de ejecutar la operacion

In [47]:
print(x) #es lo mismo que escribir x=x+5

15

In [50]:
x=10

In [51]:
x=x+5

In [52]:
print(x)

15

In [65]:
x=10

In [66]:
x-=2

In [67]:
print(x)

8

In [71]:
x=10

In [72]:
x*=2

In [73]:
print(x)

20

In [74]:
x=10

In [89]:
x/=3

In [90]:
print(x)

0.0015241579027587256

In [91]:
x=10

In [92]:
x//=3

In [93]:
print(x)

3

In [94]:
x=10

In [96]:
x%=3

In [97]:
print(x)

1

In [98]:
x=10

In [99]:
x**=2

In [100]:
print(x)

100

operar con string:
operacion              operador         ejemplo
concatenacion             +          'hola + 'mundo'=
                                     'hola mundo'





multiplicacion            +         "ja"*3=ja ja ja

In [101]:
"hola"+"henry"

'holahenry'

In [102]:
"hola "+"henry" #despues de la palabra "hola"  dejar espacio "hola -" para que no quede ensimada la palabra

'hola henry'

In [104]:
"hola"+" "+"henry"

'hola henry'

In [105]:
"henry "*3

'henry henry henry '

operaciones logicas

In [ ]:
 terminar de ver el video desde el minuto 15'